.wrapper {
  text-align: center;
}

.button {
  margin-bottom: 8px;

  border-radius: var(--border-radius-standart);
  /* padding: 24px; */
  width: 270px;
  height: 72px;
  background-color: var(--bg-button-color);

  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: 1.2;
  text-align: center;
  color: var(--secondaty-color);
}

button:disabled {
  background-color: var(--bg-button-disabled-color);
  cursor: no-drop;
}
.button:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
  border-radius: 2px;
}

.text {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  line-height: var(--line-height-standart);
  color: var(--primary-color);
}

.textDisabled {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  line-height: var(--line-height-standart);
  color: var(--disabled-text-color);
}

span {
  font-weight: var(--font-weight-bold);
}

@media (max-width: 1023px) {
  .text,
  .textDisabled {
    display: none;
  }
  .button {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 0px;
    width: 194px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #f1f1ef;
  }
}
