.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 590px;
  padding: 32px;
  border-radius: var(--border-radius-standart);
  background-color: var(--secondaty-color);
  position: relative;
  margin-bottom: 16px;
}

.wrapperResult {
  padding: 22px 32px 32px;
}

@media (max-width: 767px) {
  .wrapper {
    width: 343px;
    padding: 16px;
    margin-bottom: 8px;
  }

  /* .wrapperResult {
    padding-top: 16px;
  } */
}
