.question {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: -92px;
  right: -33px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  position: relative;
  top: -11px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-standart);
  color: var(--primary-color);
}
