.img {
  margin-bottom: 16px;
  max-width: 90px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--border-radius-standart);
  user-select: none;
}

.title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-text);
  line-height: var(--line-height-small);
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .img {
    width: 72px;
    height: 48px;
    margin-bottom: 8px;
  }

  .title {
    font-size: var(--font-size-text-mobile);
    line-height: var(--line-height-medium);
  }
}
