.header {
  margin-bottom: 16px;
}

.main {
  margin-bottom: 16px;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: #f1f1ef;
  letter-spacing: 0.55px;
}

.footer a {
  text-transform: uppercase;
  text-decoration: underline;
}
