:root {
  --primary-color: #125365;
  --secondaty-color: #f1f1ef;
  --success-color: #2a8f55;
  --error-color: #df4c25;
  --disabled-text-color: #81a1a9;

  --bg-button-color: #ff9c46;
  --bg-button-disabled-color: #edd0b6;

  --font-size-big: 36px;
  --font-size-big-mobile: 24px;
  --font-size-text: 28px;
  --font-size-text-mobile: 18px;
  --font-size-medium: 20px;
  --font-size-medium-mobile: 14px;
  --font-size-small: 10px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-small: 1.14286;
  --line-height-standart: 1.2;
  --line-height-standart-mobile: 1.28571;
  --line-height-medium: 1.22222;
  --line-height-medium-mobile: 1.16667;

  --border-radius-standart: 10px;
}
